# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes

# Compiled Python files
*.pyc

# Compiled C++ files
*.out

# Application specific files
venv
node_modules
.sass-cache

# Project specific stuff
readability/
*/speeches/data/*
*/speeches.csv
*/emotions/data/emotionsstemmed
*/emotions/data/stopwords
*/test/
*/plotting/plots_small
*/plotting/bad