appnope==0.1.0
backcall==0.1.0
certifi==2020.4.5.1
chardet==3.0.4
decorator==4.4.2
idna==2.9
jedi==0.17.0
kiwisolver==1.2.0
matplotlib==3.2.1
numpy==1.18.3
pandas==1.0.3
parso==0.7.0
pexpect==4.8.0
pickleshare==0.7.5
ptyprocess==0.6.0
py4j==0.10.7
Pygments==2.7.4
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2019.3
six==1.14.0
soupsieve==2.0
traitlets==4.3.3
wcwidth==0.1.9
xmltodict==0.12.0
